@import "normalize.css/normalize.css";
html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  box-sizing: border-box;
  font-weight: 400;
  color: var(--secondary);
  font-size: var(--fontSize-base);
}

.link {
  font-weight: 600;
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

button {
  background: none;
  border: none;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select__control {
  border: none !important;
  box-shadow: none !important;
}

.select__value-container {
  padding: 0 !important;
}

.select__control *{
  color: var(--secondary) !important;
}