@import "normalize.css/normalize.css";
html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  box-sizing: border-box;
  font-weight: 400;
  color: var(--secondary);
  font-size: var(--fontSize-base);
}

.link {
  font-weight: 600;
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.link:hover {
  opacity: 0.8;
}

strong {
  font-weight: 600;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

button{
  background: none;
  border: none;
  color: inherit;
}
.field {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
}

.field__prefix, .field__suffix {
  font-weight: 500;
}

.field__input {
  flex-grow: 1;
  margin: 0 0.25rem;
  border: none;
  margin-bottom: 0 0.5rem 0.5rem 0.5rem;
  color: var(--secondary);
  font-weight: 500;
  border-bottom: solid var(--secondary) var(--borderWidth-md);
  text-align: right;
}

.field__input:focus-visible, .field__input:focus {
  outline: none;
  border-bottom: solid var(--primary) var(--borderWidth-md);
}

.field__error {
  position: absolute;
  width: 100%;
  bottom: -1.25rem;
  font-size: 0.8em;
  color: var(--red-700);
}