.communities{
  margin-top: 100px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.communities > div {
  width: calc(25% - 2 * 1rem);
  margin: 1rem;
}
.recto{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100%;
}
.recto img{
  object-fit: contain !important;
}
.verso{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: var(--white);
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.card{
  border: var(--secondary) var(--borderWidth-lg) solid;
  height: 400px;
  background: var(--white);
  position: relative;
  box-shadow: var(--boxShadow-2xl);
}
.card:hover > div:last-child{
  opacity: 100;
}

.recto h2{
  padding: 0.5rem;
  border: var(--secondary) var(--borderWidth-lg) solid;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
}
.verso h2{
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}


.add{
  border: var(--secondary) var(--borderWidth-lg) solid;
  height: 400px;
  background: var(--white);
  box-shadow: var(--boxShadow-2xl);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.add h2{
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}


@media (--screen-md) {  
 .communities{
  margin-top: 0px !important;
  flex-direction: column;
}
  .communities > div {
    width: calc(100% - 2 * 1rem);
    margin: 1rem;
}
}