.recto {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
  height: 100%;
}

.recto img {
  object-fit: contain !important;
}

.verso {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: var(--white);
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.card {
  border: var(--secondary) var(--borderWidth-lg) solid;
  background: var(--white);
  position: relative;
  box-shadow: var(--boxShadow-2xl);
  max-height: 400px;
}

.card:hover>div:last-child {
  opacity: 100;
}

.recto h2 {
  margin-top: 1rem;
  padding: 0.5rem;
  border: var(--secondary) var(--borderWidth-lg) solid;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
}

.recto h4 {
  padding: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
  font-weight: 400;
}

.verso h2 {
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

.add {
  border: var(--secondary) var(--borderWidth-lg) solid;
  background: var(--white);
  box-shadow: var(--boxShadow-2xl);
  display: flex;
  max-height: 400px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.add h2 {
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}