.form {
  display: grid;
  grid-template-columns: auto 280px 280px;
  grid-template-rows: 350px auto auto;
  gap: 0px 0px;
  grid-template-areas: "values label verso" "values explainer explainer""values . .";
}

/* .submitted>* {
  display: none;
} */

.sending {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sending h3 {
  color: var(--secondary);
}

.embedForm {
  width: 100%;
  min-height: 70vh;
  box-shadow: var(--boxShadow-2xl);
}

.values {
  grid-area: values;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: var(--secondary) var(--borderWidth-lg) solid;
  position: relative;
}

.values h2 {
  border-bottom: var(--secondary) var(--borderWidth-lg) solid;
  padding: 1rem;
}

.submit {
  border-top: var(--secondary) var(--borderWidth-lg) solid;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--secondary);
  font-weight: 600;
}

.submit:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.values>div {
  padding: 1rem;
}

.label {
  grid-area: label;
  border-top: var(--secondary) var(--borderWidth-lg) solid;
  border-right: var(--secondary) var(--borderWidth-lg) solid;
  background-color: var(--white);
}

.explainer {
  grid-area: explainer;
  padding: 1rem;
  border: var(--secondary) var(--borderWidth-lg) solid;
  border-left: none;
  background-color: var(--white);
}

.verso {
  grid-area: verso;
  border-right: var(--secondary) var(--borderWidth-lg) solid;
  border-top: var(--secondary) var(--borderWidth-lg) solid;
  background-color: var(--white);
}

.legends {
  list-style: none;
}

.explainer>* {
  margin-bottom: 0.5rem;
}

.legend {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 50%;
}

.name {
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

.name, .link, .description {
  padding: 0.5rem 1.5rem;
}

.name:first-child, .link:first-child, .description:first-child {
  padding-top: 1.5rem;
}

.name:last-child, .link:last-child, .description:last-child {
  padding-bottom: 1.5rem;
}

/* 
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.image {
  object-fit: cover;
  border-bottom: var(--secondary) var(--borderWidth-lg) solid;
  max-height: 50%;
}

@media (--screen-md) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "values values" "label verso" "explainer explainer";
    border: var(--secondary) var(--borderWidth-lg) solid;
  }
  .form>* {
    border: none;
  }
  .label {
    border-right: var(--secondary) var(--borderWidth-lg) solid;
  }
  .form>*:not(:last-child) {
    border-bottom: var(--secondary) var(--borderWidth-lg) solid;
  }
}