.home{
    display: flex;
    flex-direction: row;
}

.form{
    display: block;  
    width: 50%;
}

.form input{
    display: block;
    border: transparent;
    border-bottom: var(--borderWidth-lg) var(--black) solid;
    font-size: var(--fontSize-base);
    background: transparent;
    padding: 0.5rem 0.3rem;
    margin-bottom: 0.5rem;
    width: 80%;
    font-weight: 700;
    font-family: var(--font-header);
}
@media (--screen-sm) {  
  .home {
    flex-direction: column;
  }
}