.home{
    display: flex;
    flex-direction: row;
}

.form{
    display: block;  
    width: 50%;
}

.form input{
    display: block;    
}
@media (--screen-sm) {  
  .home {
    flex-direction: column;
  }
}