.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.projects>div {
  width: calc(25% - 2 * 1rem);
  margin: 1rem;
  height: min-content;
}

.card {
  border: var(--secondary) var(--borderWidth-lg) solid;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: var(--boxShadow-2xl);
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
}

.card:hover>div:first-child {
  display: none;
}

.recto {
  position: absolute;
  width: 100%;
  height: 100%;
}

.recto img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.add {
  border: var(--secondary) var(--borderWidth-lg) solid;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  box-shadow: var(--boxShadow-2xl);
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  padding: 1.5rem;
}

.add h2 {
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

@media (--screen-lg) {
  .projects>div {
    width: calc(50% - 2 * 1rem);
  }
}

@media (--screen-md) {
  .projects {
    margin-top: 0px !important;
    flex-direction: column;
  }
  .projects>div {
    width: calc(100% - 2 * 1rem);
  }
}