.projectGrid{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.projectItem{
    /* width: 30%; */
    margin-bottom:2rem;
    height: auto;
}
@media (--screen-md) {  
    .projectGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (--screen-sm) {  
    .projectGrid{
  grid-template-columns: repeat(1, 1fr);
    }
}