.banner {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 250px;
    gap: 0px 0px;
    grid-template-areas: ". title title title" ". description description certificate" ". carousel carousel carousel" "labels carousel carousel carousel";
    width: 80%;
    min-height: 80vh;
}

.title {
    grid-area: title;
    background: var(--secondary);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.title h1 {
    color: var(--white);
    text-transform: uppercase;
}

.description {
    grid-area: description;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-left: var(--secondary) var(--borderWidth-lg) solid;
    border-right: var(--secondary) var(--borderWidth-lg) solid;
}

.certificate {
    grid-area: certificate;
    padding: 1rem;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-right: var(--secondary) var(--borderWidth-lg) solid;
}

.certificate:hover {
    background-color: var(--white);
}

.certificate:hover p {
    color: var(--primary);
}

.certificate p {
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.carousel {
    grid-area: carousel;
    background: var(--white);
    border: var(--secondary) var(--borderWidth-lg) solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.label {
    border: var(--secondary) var(--borderWidth-lg) solid;
    border-right: none;
    grid-area: labels;
    height: 100%;
    width: 100%;
}

@media (--screen-md) {
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: var(--boxShadow-2xl);
        margin: 200px 1rem 1rem 1rem;
    }
    .banner>div {
        border: var(--secondary) var(--borderWidth-lg) solid;
    }
    .banner>div:not(:last-child) {
        border-bottom: transparent;
    }
    .label {
        height: inherit;
    }
}