.banner {
    display: grid;
    grid-template-columns: 320px 1fr 1fr 1fr;
    grid-template-rows: auto auto 400px;
    gap: 0px 0px;
    grid-template-areas: ". title title title" ". description description website" "label structures structures cities";
}

.title {
    grid-area: title;
    background: var(--secondary);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.title h1 {
    color: var(--white);
    text-transform: uppercase;
}

.description {
    grid-area: description;
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-left: var(--secondary) var(--borderWidth-lg) solid;
    border-right: var(--secondary) var(--borderWidth-lg) solid;
}

.website {
    grid-area: website;
    padding: 1rem;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-right: var(--secondary) var(--borderWidth-lg) solid;
}

.website:hover {
    background-color: var(--white);
}

.website:hover p {
    color: var(--primary);
}

.website p {
    cursor: pointer;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.structures {
    grid-area: structures;
    background: var(--white);
    border: var(--secondary) var(--borderWidth-lg) solid;
    display: flex;
    flex-direction: column;
}

.structuresTitle {
    padding: 1rem;
    border-bottom: var(--secondary) var(--borderWidth-lg) solid;
    color: var(--secondary);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
}

.structuresTitle span {
    color: var(--primary);
}

.structuresList {
    padding: 1rem;
    height: 100%;
}

.structuresList>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.structuresListName {
    font-size: 1rem;
    color: var(--secondary);
    font-weight: 700;
}

.structuresListProject {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.label {
    grid-area: label;
}

.label>*:first-child {
    border: var(--secondary) var(--borderWidth-lg) solid;
    border-right: none;
    height: 100%;
}

.cities {
    grid-area: cities;
    padding: 1rem;
    background-image: url("/assets/background-bw.png");
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: var(--secondary) var(--borderWidth-lg) solid;
    border-top: var(--secondary) var(--borderWidth-lg) solid;
    border-bottom: var(--secondary) var(--borderWidth-lg) solid;
}

.cities div {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}

@media (--screen-md) {
    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner>div {
        border: var(--secondary) var(--borderWidth-lg) solid;
    }
    .banner>div:not(:last-child) {
        border-bottom: transparent;
    }
    .label {
        height: inherit;
    }
    .label>*:first-child {
        border: none;
    }
}