.project{
    position: relative;
}
.illustration, .illustration div, .illustration img{
    object-fit: cover;
    height: 100vh;
    width : 100%;
    position: relative;
    margin: 0;
}

.content{
    padding: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 6em 1fr;
  gap: 0px 1rem;
  grid-template-areas:
    "label label . ."
    "label label infos infos"
    "label label infos infos";
}

.label { grid-area: label; margin-bottom: 0.5rem; }
.infos { grid-area: infos;  margin-bottom: 0.5rem;}
.infos > * {  margin-bottom: 1rem;}
.infos > h1 {  margin-bottom: 0.3rem;}

@media (--screen-md) { 
.content{
        display: flex;
        flex-direction: column;
    }
}
@media (--screen-sm) {  
    .projectItem{
        width: 100%;
    }
}