.labelProduction {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "label label label label date" "label label label label designer" "label label label label designer" "label label label label designer" "name name name name name";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.label {
  grid-area: label;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.label canvas, .label div {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1 !important;
}

.designer {
  border-left: var(--secondary) var(--borderWidth-lg) solid;
  padding: 0.5rem;
  grid-area: designer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  writing-mode: sideways-lr;
  align-items: center;
  font-weight: 200;
  text-transform: uppercase;
  overflow: hidden;
  flex-grow: 0;
}

.date {
  border-left: var(--secondary) var(--borderWidth-lg) solid;
  border-bottom: var(--secondary) var(--borderWidth-lg) solid;
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  writing-mode: sideways-lr;
  align-items: center;
  font-weight: 700;
  overflow: hidden;
}

.name {
  border-top: var(--secondary) var(--borderWidth-lg) solid;
  grid-area: name;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.name h2 {
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}


/* .small{width: 200px;
  border-radius: var(--borderRadius-lg);
  border: var(--borderWidth-lg) var(--black) solid;}
.medium{width: 350px;}
.large{width: 500px;
  border-radius: var(--borderRadius-3xl);
  border: var(--borderWidth-2xl) var(--black) solid;} */

.bordered {
  border: var(--borderWidth-lg) var(--secondary) solid;
}