.label{
  border: var(--borderWidth-xl) var(--black) solid;
  border-radius: var(--borderRadius-2xl);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: var(--white);
}
.small{width: 200px;
  border-radius: var(--borderRadius-lg);
  border: var(--borderWidth-lg) var(--black) solid;}
.medium{width: 350px;}
.large{width: 500px;
  border-radius: var(--borderRadius-3xl);
  border: var(--borderWidth-2xl) var(--black) solid;}

.sketch {
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch canvas{
    z-index: 0;
    position: relative;
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1 !important;
}
.infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: var(--borderWidth-xl) var(--black) solid;
}
.small .infos {
  border-top: var(--borderWidth-lg) var(--black) solid;
}
.large .infos {
  border-top: var(--borderWidth-2xl) var(--black) solid;
}
.infos > *{
  text-align: center;
  font-size: var(--fontSize-base);
  padding: 1rem;
}
.large .infos > * {
  font-size: var(--fontSize-2xl);
  padding: 1rem;
}
.small .infos > * {
  font-size: var(--fontSize-xs);
  padding: 0.3rem;
}

.title{
  text-transform: uppercase;
}

.date{ border-left: var(--borderWidth-xl) var(--black) solid; }
.small .date{ border-left: var(--borderWidth-lg) var(--black) solid; }
.large .date{ border-left: var(--borderWidth-2xl) var(--black) solid; }