.layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.sideBar {
  width: 20%;
  flex-shrink: 0;
  position: fixed;
}
.content{
  width: 80%;
  margin-left: 20% ;
  flex-grow: 1;
  background-color: var(--coolGray-100);
  min-height: 100vh;
}
.padded{
  padding: 2rem;
}
.content > article > div{
  font-size: var(--fontSize-lg);
}

@media (--screen-sm) {  
  .layout {
    flex-direction: column;
  }
  .sideBar{
    position: static;
    width: 100vw;
  }
  .content{
    position: static;
    margin-left: initial;
    width: 100vw;
  }
}

@media print {
  .layout {
    flex-direction: column;
  }
  .sideBar{
    display: none;
  }
}