.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
}

.menu {
  width: 100%;
  height: 100px;
  /* position: absolute; */
  flex-shrink: 0;
  z-index: 100;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
  max-width: 1080px;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padded {
  margin: 170px auto 2rem;
  padding: 0 2rem 2rem;
}

.full {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  align-items: stretch;
}

.grid>* {
  width: 100%;
}

@media (--screen-md) {
  .layout {
    flex-direction: column;
  }
  .menu {
    position: static;
    width: 100%;
  }
  .padded {
    margin-top: 170px;
  }
  .content {
    width: 100%;
    min-height: calc(100vh - 170px);
  }
}

/* @media print {
  .layout {
    flex-direction: column;
  }
  .menu{
    display: none;
  }
} */