.layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.sideBar {
  width: 25%;
  flex-shrink: 0;
  position: fixed;
}
.content{
  width: 75%;
  margin-left: 25% ;
  flex-grow: 1;
  background-color: var(--coolGray-100);
  min-height: 100vh;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
  font-family: var(--font-header);
  /* margin: 0 0 1rem 0;
  padding: 0 */
}
.content > article > h1{
  margin-bottom: 1rem;
}
.padded > article{
  padding: 2rem;
}
.content > article > div{
  font-size: var(--fontSize-lg);
}

@media (--screen-sm) {  
  .layout {
    flex-direction: column;
  }
  .sideBar{
    position: static;
    width: 100vw;
  }
  .content{
    position: static;
    margin-left: initial;
    width: 100vw;
  }
}

@media print {
  .layout {
    flex-direction: column;
  }
  .sideBar{
    display: none;
  }
}