.map{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative
}

.map .mapboxgl-popup{
    width: 50%;
} 
.marker{
    width: 12px;
    cursor: pointer;
}
@media (--screen-sm) {  
    .map{
        height: 90vh;
    }
    .map .mapboxgl-popup{
        width: 90%;
    }

}