.tag{
    font-size: var(--fontSize-xs);
    margin-right: 0.5rem;
    height: min-content;
    width: auto;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem 0;
    background-color:var(--secondary);
    color: var(--white);
    border-radius: var(--borderRadius);
}
.tag:not(:first-child){
    margin-left: 0.5rem;
}