
.Map{
    height: 100%;
    overflow: hidden;
    position: relative
}
.Map::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--color-accent);
    opacity: 1;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    transition: var(--transition-fast);
}
.Map--Loading::after{
    height: 100%;
}

.mapboxgl-popup-content {
    padding: 0 !important;
    width: 300px;
    max-height: 400px;
    overflow: visible;
    border-radius: 0px;
    box-shadow: 0px 5px 5px #888888;
    border: var(--border-width) solid black;
}
.mapboxgl-map{
    font-family: inherit !important ;
}
.mapboxgl-popup-content .Map__Informations{
    padding: 1rem;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}

.mapboxgl-popup-content .Illustration{
    width: 30%;
    height: auto;
    object-fit: contain;
    margin-right: 1rem;
}
.mapboxgl-popup-content .Illustration.Illustration--Photo{
    object-fit: cover;
}

.mapboxgl-popup-content .Section__Title{
    margin-right: 2rem;
}
.mapboxgl-popup-content .Section__Text{
    line-height: 1.2;
}
.mapboxgl-popup-content .Button{
    width: 100%;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{ border-top-color: black !important;}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{ border-bottom-color: black !important;}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{ border-right-color: black !important;}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{ border-left-color: black !important;}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{ border-top-color: black !important;}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{ border-bottom-color: black !important;}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{ border-top-color: black !important;}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{ border-bottom-color: black !important;}


.Tool{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0 !important;
}
.Tool__Icon{
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
}

    .Close__Button { 
        z-index: 100    ;
        cursor: pointer;
        position: absolute;
        right: 0.5rem;
        padding-top: 0.5rem;
        top: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .Close__Button::after,
    .Close__Button::before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        background-color: black;
        height: var(--border-width);
        transform: rotate(45deg);
    }
    .Close__Button::after {
        content: '';
        display: block;
        width: 100%;
        transform: rotate(-45deg);
    }


@media all and (max-width: 1000px) {

    .Map{
    height: 80vh !important;
     }
        
}