.projectGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projectItem{
    width: 30%;
    margin-bottom:2rem;
    height: auto;
}
@media (--screen-md) {  
    .projectItem{
        width: 45%;
    }
}
@media (--screen-sm) {  
    .projectItem{
        width: 100%;
    }
}